{%extends "container.html" %}
{% block main %}
        <div class="alert alert-warning">
          <p>This application, while it tests the content of files, will not perform following tests :</p>
          <ul>
            <li>TEI/Epidoc Scheme compliancy check</li>
            <li>Filepath compliancy checking</li>
            <li>Verification of declaration of identifier in metadata</li>
          </ul>
          <p><em>However</em>, it will run all others tests and ensure that your XML is compliant with CapiTainS Suite
            and Guidelines. This tool should be supplementary to the use of HookTest with Travis or on your local machine.</p>
        </div>
        <form action="{{url_for('evaluation')}}" method="POST">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-legend col-md-2">Resource Type</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="resource_type" id="resource_type_work" value="cts_metadata" />
                    CapiTainS CTS Guidelines - <em>Metadata Object</em>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="resource_type" id="resource_type_cts_epidoc" value="cts_epidoc" />
                    CapiTainS CTS Guidelines - <em>Epidoc Text</em>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="resource_type" id="resource_type_cts_tei" value="cts_tei" />
                    CapiTainS CTS Guidelines - <em>TEI Text</em>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="xml_content">XML Contents</label>
            <textarea id="xml_content" name="resource" class="form-control" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{%endblock%}}